.shopcategory-banner, 
.shopcategory-product {
    width: 82%;
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shopcategory-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px 40px;
    margin: 40px auto;
    padding: 10px 0;
}


.shopcategory-banner {
    display: block;
    width: 100%;
    max-width: 1200px;
    height: 250px; 
    overflow: hidden;
    object-fit: cover;
    margin: auto;
}

.shopcategory-indexSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 10px;
}
.shopcategory-indexSort p {
    margin: 0;
    text-align: left;
    flex-grow: 1;
    font-size: 16px;
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    background: white;
    cursor: pointer;
    text-align: right;
    flex-shrink: 0;
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #1A1A1A;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.shopcategory-loadmore:hover {
    background: #e0e0e0;
}


/*=========================================================================*/

@media(max-width:1280px) {
    .shopcategory-banner, 
    .shopcategory-indexSort, 
    .shopcategory-product {
        width: 90%;
    }

    .shopcategory-banner {
        margin: 20px auto;
    }
    .shopcategory-indexSort {
        margin: auto;
    }
    .shopcategory-sort {
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexSort p {
        font-size: 12px;
    }
    .shopcategory-product {
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopcategory-product .item {
        margin: auto;
    }
    .shopcategory-loadmore {
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}

@media(max-width:800px) {
    .shopcategory-banner,
    .shopcategory-product {
        width: 95%;
    }
    .shopcategory-loadmore {
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
    .shopcategory-product .item {
        height: 180px;
    }
}

@media(max-width: 500px) {
    .shopcategory-product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 5px;
    }
    .shopcategory-product .item {
        height: 140px;
    }
    .shopcategory-loadmore {
        margin: 40px auto;
        width: 120px;
        height: 30px;
        font-size: 12px;
    }
}

